:root {
    --color-red: #e10600;
    --color-red-dark: #9f1007;
    --color-white: #f3f3f3;
    --color-black: #090909;
    --color-grey: #bcb8b1;
}

.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 250px;
    padding: 20px;
    border: 5px solid var(--color-black);
    margin: 10px;
    border-radius: 10px;
    background-color: var(--color-red);
}

.boton p{
    color: var(--color-white);
    letter-spacing: 3px;
    font-size: 1.5rem;
}

.boton:hover{
    scale: 1.05;
    cursor: pointer;
}