:root {
    --color-red: #e10600;
    --color-red-dark: #9f1007;
    --color-white: #f3f3f3;
    --color-black: #090909;
    --color-grey: #bcb8b1;
}

header {
    background-color: var(--color-red);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    padding: 0 50px 0 50px;
}
  
.titulo h1 {
    color: var(--color-white);
    letter-spacing: 3px;
    text-shadow: -2px -2px 0 var(--color-black), 2px -2px 0 var(--color-black),
      -2px 2px 0 var(--color-black), 2px 2px 0 var(--color-black);
    background-color: var(--color-red);
    font-size: 2.5rem;
}
  
.titulo .inicio {
    text-decoration: none;
    color: var(--color-white);
    letter-spacing: 3px;
    text-shadow: -2px -2px 0 var(--color-black), 2px -2px 0 var(--color-black),
      -2px 2px 0 var(--color-black), 2px 2px 0 var(--color-black);
    background-color: var(--color-red);
    font-size: 2.5rem;
}

.botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
}



